/*
 *
 *= require jquery-ui-1.9.2.custom
 *= require bootstrap
 *= require bootstrap-responsive
 *= require jquery-autocomplete-combobox
 *= require jquery.tooltip
 *= require navigator
 *= require select2
 *= require jquery.toastmessage
 *= require_self
 */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.center {
  margin-left:auto;
  margin-right:auto;
}

/* <! -- style for inplace editor --> */
.inplace_editable { display: block ; }
.inplace_editable:hover { background: #D6E9C6}

.pagination { margin: 5px 0 5px 0; float: left}

