//
//= require jquery-1.7.2.min
//= require jquery_ujs
//= require bootstrap
//= require jquery-ui-1.9.2.custom
//= require jquery-autocomplete-combobox
//= require jquery.jeditable.js
//= require jquery.tooltip.js
//= require jquery.rsv-2.5.1.js
//= require select2
//= require jquery.maskedinput-1.3.js
//= require jquery.toastmessage
//= require my_utilities
//

/*
 a delegate for jeditable. e.g you have a element:
   <span class="inplace_editable" id="2">333</span>

 and you can just declare:
   inplace_editable("system_variable", "value")

 to create a inplace edit for system_variable to update its "value"

 remember that your action should render json result, e.g:
   respond_to do |format|
     format.json { render :text => @system_variable.value }
   end
 */
function inplace_editable(entity_name, entity_attribute, url){
  url = set_default_value(url, "/" +entity_name + "s/")
  $('.inplace_editable').each(function(){
    $(this).editable(url+"/"+$(this).attr("id")+".json", {
      indicator : '<%= image_tag asset_path('ajax-loader.gif'), :size => "18x18" %>',
      tooltip   : '双击编辑UA名称',
      placeholder : '&nbsp;',
      method: "PUT",
      name: entity_name+"["+entity_attribute+"]",
      type: 'text',
      event : "dblclick"
    })
  })
}
// private method
function set_default_value(var_name, default_value){
  result = typeof(var_name)=="undefined" ? default_value : var_name
  return result
}

